<!-- <form formGroup="damagedForm">
    <fieldset>
        <legend>Damage Details</legend>
        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Place accident happened</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Purpose vehicle has used before accident</mat-label>
            <input matInput>
          </mat-form-field>
           <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Number of people travelled</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-label>Informed to Police?</mat-label>
          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
          <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Name of Police Station</mat-label>
            <input matInput>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>FIR No.</mat-label>
            <input matInput>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="example-full-width col-md-3">
            <mat-label>How damage has occured?</mat-label>
            <textarea matInput placeholder="Ex. Car was moving near Mall..."></textarea>
          </mat-form-field> 
    </fieldset>
    <fieldset>
        <legend>Driver Details</legend>
        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Relation with Insured</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-label>Gender</mat-label>
                <mat-radio-group aria-label="Select Gender">
                    <mat-radio-button value="1">Female</mat-radio-button>
                    <mat-radio-button value="2">Male</mat-radio-button>
                  </mat-radio-group>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>License Number</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <mat-label>License Effective From</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Issuing RTO</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="col-md-3">
                    <mat-label>License Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker4">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                  <br>
                  <mat-label>Class Of Vehicle</mat-label>
                <mat-radio-group aria-label="Select Class">
                    <mat-radio-button value="1">Transport</mat-radio-button>
                    <mat-radio-button value="2">LMV</mat-radio-button>
                    <mat-radio-button value="2">HGV</mat-radio-button>
                  </mat-radio-group>
                  <mat-label>Type of Driver</mat-label>
                <mat-radio-group aria-label="Select Class">
                    <mat-radio-button value="1">Permanent</mat-radio-button>
                    <mat-radio-button value="2">Learner</mat-radio-button>
                  </mat-radio-group>
        </fieldset>
</form>> -->
<p>damage works!!</p>
